<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>FilterWeb</filter-name>
        <filter-class>Filter.FilterWeb</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterWeb</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassword</servlet-name>
        <servlet-class>controller.ForgetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>controller.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>controller.UserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountServlet</servlet-name>
        <servlet-class>controller.Admin.CreateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainController</servlet-name>
        <servlet-class>Ticket.TrainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketController</servlet-name>
        <servlet-class>Ticket.TicketController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BanAccount</servlet-name>
        <servlet-class>controller.Admin.BanAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageRole</servlet-name>
        <servlet-class>controller.Admin.ManageRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserProfile</servlet-name>
        <servlet-class>controller.UpdateUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterOTP</servlet-name>
        <servlet-class>controller.RegisterOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountList</servlet-name>
        <servlet-class>controller.Admin.AccountList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feedbackk</servlet-name>
        <servlet-class>controller.Feedbackk</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>controller.FeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassengerInfoServlet</servlet-name>
        <servlet-class>controller.PassengerInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassengerInfo</servlet-name>
        <servlet-class>controller.PassengerInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeOTP</servlet-name>
        <servlet-class>controller.ChangeOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackForCustomer</servlet-name>
        <servlet-class>controller.FeedbackForCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>controller.Train.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment</servlet-name>
        <servlet-class>controller.Payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Config</servlet-name>
        <servlet-class>vnpay.Config</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>vnpay.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQuery</servlet-name>
        <servlet-class>vnpay.vnpayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayRefund</servlet-name>
        <servlet-class>vnpay.vnpayRefund</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedbackadmin</servlet-name>
        <servlet-class>controller.feedbackadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpay</servlet-name>
        <servlet-class>vnpay.vnpay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAvailableCompartment</servlet-name>
        <servlet-class>controller.Train.ShowAvailableCompartment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvailableSeats</servlet-name>
        <servlet-class>controller.Train.AvailableSeats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddtoCart</servlet-name>
        <servlet-class>controller.Train.AddtoCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>refundc</servlet-name>
        <servlet-class>controller.Train.refundc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassword</servlet-name>
        <url-pattern>/forgetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/userprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountServlet</servlet-name>
        <url-pattern>/CreateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BanAccount</servlet-name>
        <url-pattern>/BanAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageRole</servlet-name>
        <url-pattern>/ManageRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserProfile</servlet-name>
        <url-pattern>/updateuserprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterOTP</servlet-name>
        <url-pattern>/registerotp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountList</servlet-name>
        <url-pattern>/AccountList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackController</servlet-name>
        <url-pattern>/FeedbackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassengerInfoServlet</servlet-name>
        <url-pattern>/PassengerInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassengerInfo</servlet-name>
        <url-pattern>/PassengerInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/resetpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeOTP</servlet-name>
        <url-pattern>/changeotp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackForCustomer</servlet-name>
        <url-pattern>/feedbackforcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/Payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/ajaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQuery</servlet-name>
        <url-pattern>/vnpayQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayRefund</servlet-name>
        <url-pattern>/vnpayRefund</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedbackadmin</servlet-name>
        <url-pattern>/feedbackadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketController</servlet-name>
        <url-pattern>/tickets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpay</servlet-name>
        <url-pattern>/vnpay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAvailableCompartment</servlet-name>
        <url-pattern>/comparts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvailableSeats</servlet-name>
        <url-pattern>/seats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddtoCart</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>refundc</servlet-name>
        <url-pattern>/refundc</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet-mapping>
        <servlet-name>TrainController</servlet-name>
        <url-pattern>/trains</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Home1Controller</servlet-name>
        <servlet-class>Ticket.Home1Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home1Controller</servlet-name>
        <url-pattern>/home1</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>ListTrainServlet</servlet-name>
        <servlet-class>controller.Train.ListTrainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewTrain</servlet-name>
        <servlet-class>controller.Train.CreateNewTrain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUpdateTrain</servlet-name>
        <servlet-class>controller.Train.CreateUpdateTrain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDeleteTrain</servlet-name>
        <servlet-class>controller.Train.CreateDeleteTrain</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>ListTrainServlet</servlet-name>
        <url-pattern>/tm/trains</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewTrain</servlet-name>
        <url-pattern>/tm/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUpdateTrain</servlet-name>
        <url-pattern>/tm/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDeleteTrain</servlet-name>
        <url-pattern>/tm/delete</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home1.jsp</welcome-file>
    </welcome-file-list>
</web-app>
